<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Pie Chart Maker
    </ion-title>
  </ion-toolbar>
</ion-header>
<div id="scrollable" scrolly="true">
  <ion-item margin-bottom="20px" color="dark" ngDefaultControl  *ngFor="let box of boxarray; let i = index">
    <ion-input type="number" [(ngModel)]="boxes[i]" value="0" min="0" max="100" required="true"></ion-input>
  </ion-item>
</div>
<div align="center">
  <ion-button (click)="newBox()" color="dark">+</ion-button>
  <ion-button id="savebtn" (click)="saveValues()" color="dark" side="bottom">submit</ion-button>
</div>


