<ion-header>
    <ion-toolbar>
        <ion-title>
            Pie Chart
        </ion-title>
    </ion-toolbar>
</ion-header>

<div align-self-center>
    <canvas id="canvas" width="395pt" height="395pt"></canvas>
</div>
<div id="val" align-self-center>
    <h1>Total: {{all}} = 100%</h1>
    <ion-content force-overscroll>
        <canvas id="textcanvas" height="5000"></canvas>
    </ion-content>

</div>
<ion-button (click)="openExpl()" color="dark">Save values</ion-button>
